bin
plugins/.metadata/
plugins/RemoteSystemsTempFiles/
runtime-EclipseApplication/
*/*/target/
docs/
plugins/org.yocto.doc.user/about.html
plugins/org.yocto.doc.user/html/bsp-guide-toc.xml
plugins/org.yocto.doc.user/html/bsp-guide/
plugins/org.yocto.doc.user/html/dev-manual-toc.xml
plugins/org.yocto.doc.user/html/dev-manual/
plugins/org.yocto.doc.user/html/kernel-dev-toc.xml
plugins/org.yocto.doc.user/html/kernel-dev/
plugins/org.yocto.doc.user/html/profile-manual-toc.xml
plugins/org.yocto.doc.user/html/profile-manual/
plugins/org.yocto.doc.user/html/ref-manual-toc.xml
plugins/org.yocto.doc.user/html/ref-manual/
plugins/org.yocto.doc.user/html/sdk-manual-toc.xml
plugins/org.yocto.doc.user/html/sdk-manual/
plugins/org.yocto.doc.user/html/yocto-project-qs-toc.xml
plugins/org.yocto.doc.user/html/yocto-project-qs/
