<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.cdt.managedbuilder.core.buildProperties">
        <propertyValue
            id="org.yocto.sdk.ide.buildArtefact.cmake.exe"
            name="%yocto.cmake.artefactType"
            property="org.eclipse.cdt.build.core.buildArtefactType">
        </propertyValue>
    </extension>
    <extension
        id="org.yocto.cmake.managedbuilder"
        name="%extension.name"
        point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
        <managedBuildRevision
            fileVersion="4.0.0">
        </managedBuildRevision>
        <builder
            id="org.yocto.cmake.managedbuilder.builder"
            name="%builder.name"
            buildfileGenerator="org.yocto.cmake.managedbuilder.YoctoCMakeMakefileGenerator"
            cleanBuildTarget="clean"
            command="make"
            isVariableCaseSensitive="false"
            supportsManagedBuild="true">
        </builder>
        <tool
            id="org.yocto.cmake.managedbuilder.cmakeconfigure"
            name="%cmakeconfigure.name"
            command="cmake"
            commandLinePattern="${COMMAND} ${FLAGS} "
            natureFilter="both">
            <optionCategory
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                name="%cmakeconfigure.options">
            </optionCategory>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                defaultValue="${OECMAKE_SOURCEPATH}"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.sourcepath"
                isAbstract="false"
                name="%cmakeconfigure.sourcepath"
                resourceFilter="all"
                valueType="string">
            </option>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                defaultValue="-DCMAKE_TOOLCHAIN_FILE=${OECMAKE_SOURCEPATH}/toolchain.cmake"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.toolchaincmakefilepath"
                isAbstract="false"
                name="%cmakeconfigure.toolchaincmakefilepath"
                resourceFilter="all"
                valueType="string">
            </option>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.debugsymbols"
                name="%cmakeconfigure.debugsymbols"
                isAbstract="false"
                resourceFilter="all"
                valueType="enumerated">
                <enumeratedOptionValue
                    command="-DCMAKE_BUILD_TYPE=DEBUG"
                    id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.debugsymbols.eOV1"
                    isDefault="true"
                    name="Yes (-DCMAKE_BUILD_TYPE=DEBUG)">
                </enumeratedOptionValue>
                <enumeratedOptionValue
                    command=""
                    id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.debugsymbols.eOV2"
                    name="No">
                </enumeratedOptionValue>
            </option>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.verbosemakefile"
                name="%cmakeconfigure.verbosemakefile"
                isAbstract="false"
                resourceFilter="all"
                valueType="enumerated">
                <enumeratedOptionValue
                    command="-DCMAKE_VERBOSE_MAKEFILE=1"
                    id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.verbosemakefile.eOV1"
                    isDefault="true"
                    name="Yes (-DCMAKE_VERBOSE_MAKEFILE=1)">
                </enumeratedOptionValue>
                <enumeratedOptionValue
                    command="-DCMAKE_VERBOSE_MAKEFILE=0"
                    id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.verbosemakefile.eOV2"
                    name="No (-DCMAKE_VERBOSE_MAKEFILE=0)">
                </enumeratedOptionValue>
            </option>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                command="-Wdev"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.enabledevwarn"
                isAbstract="false"
                name="%cmakeconfigure.wdev"
                resourceFilter="all"
                valueType="boolean">
            </option>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                command="-Wno-dev"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.suppressdevwarn"
                isAbstract="false"
                name="%cmakeconfigure.wnodev"
                resourceFilter="all"
                valueType="boolean">
            </option>
            <option
                category="org.yocto.cmake.managedbuilder.cmakeconfigure.category.options"
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.options.otherflags"
                isAbstract="false"
                name="%cmakeconfigure.otherflags"
                resourceFilter="all"
                tip="e.g.: --warn-unused-vars --debug-output -DCMAKE_SOME_OPTION=something"
                valueType="string">
            </option>
        </tool>
        <toolChain
            id="org.yocto.cmake.managedbuilder.toolchain.gnu.exe"
            name="%toolchain"
            supportsManagedBuild="true">
            <targetPlatform
                id="org.yocto.cmake.managedbuilder.target.gnu.exe"
                isAbstract="false"
                superClass="cdt.managedbuild.target.gnu.platform.base">
            </targetPlatform>
            <builder
                id="org.yocto.cmake.managedbuilder.builder.gnu.exe"
                isAbstract="false"
                isVariableCaseSensitive="false"
                superClass="org.yocto.cmake.managedbuilder.builder">
            </builder>
            <tool
                id="org.yocto.cmake.managedbuilder.cmakeconfigure.gnu.exe"
                isAbstract="false"
                superClass="org.yocto.cmake.managedbuilder.cmakeconfigure">
            </tool>
            <tool
                id="org.yocto.cmake.managedbuilder.compiler.gnu.exe"
                isAbstract="false"
                natureFilter="ccnature"
                superClass="cdt.managedbuild.tool.gnu.cpp.compiler">
            </tool>
            <tool
                id="org.yocto.cmake.managedbuilder.linker.gnu.exe"
                isAbstract="false"
                natureFilter="ccnature"
                superClass="cdt.managedbuild.tool.gnu.cpp.linker">
            </tool>
            <tool
                id="org.yocto.cmake.managedbuilder.compiler.gnu.c.exe"
                isAbstract="false"
                natureFilter="cnature"
                superClass="cdt.managedbuild.tool.gnu.c.compiler">
            </tool>
            <tool
                id="org.yocto.cmake.managedbuilder.linker.gnu.c.exe"
                isAbstract="false"
                natureFilter="cnature"
                superClass="cdt.managedbuild.tool.gnu.c.linker">
            </tool>
        </toolChain>
    </extension>
</plugin>
