<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.yocto.sdk.ide.preferences.YoctoSDKPreferencePage"
            id="org.yocto.sdk.ide.preferences.YoctoSDKPreferencePage"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.yocto.sdk.ide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="YoctoSDKNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.linuxtools.cdt.autotools.core.autotoolsNatureV2">
      </requires-nature>
      <runtime>
         <run
               class="org.yocto.sdk.ide.YoctoSDKProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.linuxtools.cdt.autotools.core.genmakebuilderV2">
      </builder>
   </extension>
   <extension
         id="YoctoSDKEmptyNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.yocto.sdk.ide.YoctoSDKEmptyProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.yocto.sdk.ide.command.reconfigYocto"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.yocto.sdk.ide.actions.ReconfigYoctoHandler"
            commandId="org.yocto.sdk.ide.command.reconfigYocto">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:project">
         <command
               commandId="org.yocto.sdk.ide.command.reconfigYocto"
               id="reconfigure"
               label="%command.label.0"
               mnemonic="%command.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.yocto.sdk.ide.YoctoSDKNature">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            filterPattern=".*gcc"
            id="org.yocto.sdk.ide.template.emptyCProject"
            location="templates/projecttemplates/EmptyCProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*g\+\+"
            id="org.yocto.sdk.ide.template.emptyCPPProject"
            location="templates/projecttemplates/EmptyCPPProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*gcc"
            id="org.yocto.sdk.ide.template.helloWorldCProject"
            location="templates/projecttemplates/HelloWorldCAutotoolsProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*g\+\+"
            id="org.yocto.sdk.ide.template.helloWorldCPPProject"
            location="templates/projecttemplates/HelloWorldCPPAutotoolsProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*gcc"
            id="org.yocto.sdk.ide.template.helloWorldCClutterProject"
            location="templates/projecttemplates/HelloWorldCClutterProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*g\+\+"
            id="org.yocto.sdk.ide.template.helloWorldCPPClutterProject"
            location="templates/projecttemplates/HelloWorldCPPClutterProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
      <template
            filterPattern=".*gcc"
            id="org.yocto.sdk.ide.template.helloWorldCGTKProject"
            location="templates/projecttemplates/HelloWorldCGTKProject/template.xml"
            projectType="org.yocto.sdk.ide.projectType">
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="NewYoctoProject"
            processRunner="org.yocto.sdk.ide.wizard.NewYoctoCProjectTemplate">
         <simple
               name="name">
         </simple>
         <simple
               external="true"
               name="location"
               nullable="true">
         </simple>
         <simple
               external="true"
               name="artifactExtension">
         </simple>
         <simple
               external="true"
               name="isCProject">
         </simple>
         <simple
               external="true"
               name="isEmptyProject">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.CDTWizard">
      <wizard
            class="org.yocto.sdk.ide.wizard.YoctoBuildWizard"
            name="Yocto Project ADT Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="org.yocto.sdk.ide.projectType"
            isAbstract="true"
            name="%projectType.name.0"
            superClass="org.eclipse.linuxtools.cdt.autotools.core.projectType">
      </projectType>
   </extension>
   <extension
         id="org.yocto.sdk.ide.actions.YoctoConsole"
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.yocto.sdk.ide.actions.YoctoConsole"
            id="org.yocto.sdk.ide.YoctoConsole">
      </CBuildConsole>
   </extension>

</plugin>
