<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.yocto.sdk.remotetools">
      </category>
      <view
            name="PowerTop"
            icon="icons/sample.gif"
            category="org.yocto.sdk.remotetools"
            class="org.yocto.sdk.remotetools.views.BaseFileView"
            id="org.yocto.sdk.remotetools.views.PowerTopView">
      </view>
      <view
            category="org.yocto.sdk.remotetools"
            class="org.yocto.sdk.remotetools.views.TerminalViewer"
            icon="icons/sample.gif"
            id="org.yocto.sdk.remotetools.views.TerminalView"
            name="TerminalView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.yocto.sdk.remotetools.views.PowerTopView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.yocto.sdk.remotetools.commands.category"
            name="%commands.category.name">
      </category>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.oprofile"
            name="%command.name.oprofile">
      </command>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.powertop"
            name="%command.name.powertop">
      </command>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.latencytop"
            name="%command.name.latencytop">
      </command>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.ust"
            name="%command.name.ust">
      </command>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.perf"
            name="%command.name.perf">
      </command>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.systemtap"
            name="%command.name.systemtap">
      </command>
      <command
            categoryId="org.yocto.sdk.remotetools.commands.category"
            id="org.yocto.sdk.remotetools.command.yoctobsp"
            name="%command.name.yoctobsp">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="runYoctoTools"
               label="YoctoProjectTools">    
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:runYoctoTools">
         <command
               commandId="org.yocto.sdk.remotetools.command.oprofile"
               label="%command.name.oprofile"
               style="push">
         </command>
         <command
               commandId="org.yocto.sdk.remotetools.command.perf"
               label="%command.name.perf"
               style="push">
         </command>
         <command
               commandId="org.yocto.sdk.remotetools.command.powertop"
               label="%command.name.powertop"
               style="push">
         </command>
         <command
               commandId="org.yocto.sdk.remotetools.command.latencytop"
               label="%command.name.latencytop"
               style="push">
         </command>
         <command
               commandId="org.yocto.sdk.remotetools.command.systemtap"
               label="%command.name.systemtap"
               style="push">
         </command>
         <separator
               name="org.yocto.sdk.remotetools.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.yocto.sdk.remotetools.command.ustl"
               label="%command.name.ust.legacy"
               style="push">
         </command>
         <command
               commandId="org.yocto.sdk.remotetools.command.ust2"
               label="%command.name.ust.20"
               style="push">
         </command>
         <separator
               name="org.yocto.sdk.remotetools.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.yocto.sdk.remotetools.command.yoctobsp"
               label="%command.name.yoctobsp"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.yocto.sdk.remotetools.actions.OprofileHandler"
            commandId="org.yocto.sdk.remotetools.command.oprofile">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.PerfHandler"
            commandId="org.yocto.sdk.remotetools.command.perf">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.SystemtapHandler"
            commandId="org.yocto.sdk.remotetools.command.systemtap">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.PowertopHandler"
            commandId="org.yocto.sdk.remotetools.command.powertop">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.LatencytopHandler"
            commandId="org.yocto.sdk.remotetools.command.latencytop">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.UstHandlerLegacy"
            commandId="org.yocto.sdk.remotetools.command.ustl">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.Ust2Handler"
            commandId="org.yocto.sdk.remotetools.command.ust2">
      </handler>
      <handler
            class="org.yocto.sdk.remotetools.actions.YoctoBspHandler"
            commandId="org.yocto.sdk.remotetools.command.yoctobsp">
      </handler>
   </extension>

</plugin>
